/* ------------------- */
/*       Reset         */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Reset Font Weights */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

/* set up the body */
body {
  font-family: Orbitron, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* 
---------------------------------------
          Navbar Section 
---------------------------------------
*/

.navbar-container {
  max-width: 120rem;
  padding: 2.4rem 2.4rem 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  /* width: 75%; */
  width: 12.4rem;
}

.list {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  gap: 4.8rem;
  list-style: none;
  margin-right: 11.4rem;
}

.list li:nth-child(1) {
  /* color: red; */
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.search-icon svg {
  width: 70%;
}

.nav-button,
.button-email,
.button-join {
  font-size: 1.8rem;
  padding: 0.5rem 3.2rem;
  border-radius: 10px;
  color: #555;
  background-color: #fff;
}

.button-email,
.button-join {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Orbitron, sans-serif;
}

.button-email {
  padding: 0 2.4rem;
  margin-right: 1.2rem;
  border-radius: 8px;
}

.button-join {
  padding: 0;
  border-radius: 5px;
  background-color: #000;
  color: #fffd;
}

/* 
---------------------------------------
        Hero Banner Section 
---------------------------------------
*/

.hero-container {
  max-width: 120rem;
  margin-top: 3.2rem;
  position: relative;
  padding: 0 2.4rem 0 2.4rem;
}

.square img {
  position: absolute;
  width: 20%;
  top: 250px;
  left: 16%;
}

.star {
  position: absolute;
  right: 1%;
  top: 40px;
}

.star img {
  width: 60%;
}

.globe {
  position: absolute;
  right: 35%;
  top: -10%;
}

.globe img {
  width: 60%;
}
.person img {
  position: absolute;
  width: 30%;
  /* opacity: 0.1; */
  /* height: 100%; */
}

.hero-container-right {
  position: absolute;
  right: 0;

  font-family: poppins, sans-serif;

  max-width: 65%;
  margin-top: 9.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  text-align: center;
}

.hero-heading {
  font-family: Orbitron, sans-serif;
  font-weight: 800;
  font-size: 4.8rem;
  color: #000;
}

.hero-description {
  max-width: 70%;
  font-size: 1.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.6;
  color: #555;
}

.contact-heading {
  margin-top: 2.4rem;
  margin-bottom: 1.8rem;
}

.icons {
  display: flex;
  gap: 0.4rem;
}

.icons img {
  width: 65%;
}
